<h1>The Burger Place</h1>

<div>
	<div style="width:50%">
	Blank Div
	</div>
	<div style="width:50%">
	Blank Div
	</div>
</div>

<form action="burgers/create" method="POST">
	<label>Burger Name</label>
	<input type="text" name="burger_name">
	<button type="submit">Add a burger to devour!</button>
</form>
	